.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 200px;
    min-height: 100px;
    padding: 20px;
    background-color: #f4f4f4;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 22px;
}